<div class="container mt-4">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h2>Student Details</h2>
        <div class="card mt-3">
          <div class="card-body">
            <h5 class="card-title">{{ student.name }}</h5>
            <p class="card-text">Department: {{ student.department }}</p>
            <span><img src="http://localhost:8080/{{student.image}}" alt="{{student.image}}" width="200" height="100"></span>
          </div>
        </div>
      </div>
    </div>
</div>